<h2>Your Requests to book</h2>

<ul>
<% @my_requests.each do |request| %>
  <% space = Space.get(request.space_id) %>
  <li>
    Name: <%= space.name %><br>
    Date: <%= request.date %><br>
    Status: <%= request.status %>
  </li>
<% end %>
</ul>

<h2>Requests for your spaces</h2>

<ul>
<% @requests_against_my_spaces.each do |request| %>
  <% space = Space.get(request.space_id) %>
  <% user = User.get(request.user_id) %>
  <li>
    Space: <%= space.name %><br>
    Date: <%= request.date %><br>
    Status: <%= request.status %><br>
    Requesting User: <%= user.email %><br>
    <form action='/requests/<%= request.id %>' method='POST'>
      <input type="submit" name= 'status' value="Accept Booking">
      <input type="submit" name= 'status' value="Reject Booking">
    </form>
  </li>
<% end %>
</ul>
