<% unless @user.nil? %>
<div class="alert alert-primary col-12">
  User: <%= @user.email %>
</div>
<% end %>

<div class="col-12">
  <h2>Available spaces</h2>
</div>
<div id="available-spaces" class="col-12">
  <ul>
  <% @spaces.each do |space| %>
    <%# <div class="card" style="width: 24rem;"> %>
      <li class="space card">
        <section class="card-body">
          <h3><%= space.name %></h3>
          <div class="space-details">
            <section><%= space.description %></section>
            <div>Price per night: £<%= space.price %></div>
          </div>
          <a class="btn btn-primary active" href="/requests/new/<%= space.id %>">Request to book</a>
        </section>
      </li>
  <% end %>
  </ul>
</div>

<form action="/email" method="get">
<div class="form-group2">
  <label for="recommendation">Have you spotted something here that could interest a friend, colleague or relative?</label><br>
  <input type="email" class="form-control2" id="recommendee" name="recommendee" placeholder="Insert valid email address" name="recommendee">
  <input type="text" class="form-control2" id="recommender" name="recommender" placeholder="Your name for your friend" name="recommender"><br>
  <input type="submit" value="Recommend!">
  <label id="emailHelp" class="form-text text-bold">Your contact's details are protected by our Privacy Policy</label>
</div>
</form>
