<div id="request-space-header" class="row col-12 no-gutters">
  <div class="col-9">
    <h2>Book a space</h2>
  </div>
  <div class="col-3">
    <a href="/spaces/new" class="float-right btn btn-primary">Add a new listing</a>
  </div>
</div>
<div id="availability-filter-dates" class='col-12 card-body'>
  <h5>Filter Spaces for your desired dates:</h5>
  <div class="row no-gutters">
    <form class='form-inline' action="/spaces/filter" method="post">
      <div class="form-group">
        <h7 class="inline-tag">From: </h7>
        <input class='form-control' type="date" name="start_date">
        <h7 class="inline-tag">To: </h7>
        <input class='form-control' type="date" name="end_date">
        <input class="btn btn-primary" type="submit" value="Filter">
      </div>
    </form>
    <form class='form-inline' action="/spaces/filter" method="post">
      <input type="hidden" name="_method" value='DELETE'>
      <input class="btn btn-primary" type="submit" value="Clear">
    </form>
  <% if !@filter_message.nil? %>
    <div id="availability-filter-message" class="col-12 no-gutters">
      <h7><%= @filter_message %></h7>
    </div>
  <% end %>
  </div>
</div>
<section id="available-spaces" class="col-12">
  <% @spaces.each do |space| %>
    <div class="space card">
      <div class="card-body">
        <h3><%= space.name %></h3>
        <div class="space-details">
          <section><%= space.description %></section>
          <div>Price per night: £<%= space.price %></div>
        </div>
        <a class="btn btn-primary active" href="/requests/new/<%= space.id %>">Request to book</a>
      </div>
    </div>
  <% end %>
</section>
