<% unless @user.nil? %>
<p>New account created with email: <%= @user.email %></p>
<% end %>


<ul>
<% @spaces.each do |space| %>
  <li>
    Name: <%= space.name %><br>
    Description: <%= space.description %><br>
    Price Per Night: £<%= space.price %><br>
    <a href="/requests/new/<%= space.id %>">Request to book</a>
  </li>
<% end %>
</ul>
